{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>返回顶部/底部</title>
        <meta http-equiv='charset' content='utf-8'/>
        <script type='text/javascript' src='jquery-1.7.2.js'></script>
        <script type='text/javascript'>
            //显隐按钮
            function showReposBtn(){
                var clientHeight = $(window).height();
                var scrollTop = $(document).scrollTop();
                var maxScroll = $(document).height() - clientHeight;
                //滚动距离超过可视一屏的距离时显示返回顶部按钮
                if( scrollTop > clientHeight ){
                    $('#retopbtn').show();
                }else{
                    $('#retopbtn').hide();
                }
                //滚动距离到达最底部时隐藏返回底部按钮
                if( scrollTop >= maxScroll ){
                    $('#rebtmbtn').hide();
                }else{
                    $('#rebtmbtn').show();
                }
            }

            window.onload = function(){
                //获取文档对象
                $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $("html") : $("body")) : $("html,body");
                //显示按钮
                showReposBtn();
            }

            window.onscroll = function(){
                //滚动时调整按钮显隐
                showReposBtn();
            }

            //返回顶部
            function returnTop(){
                $body.animate({scrollTop: 0},400);
            }

            //返回底部
            function returnBottom(){
                $body.animate({scrollTop: $(document).height()},400);
            }
        </script>
        <style type='text/css'>
            #retopbtn{
                position:fixed;
                bottom:10px;
                right:10px;
            }
            #rebtmbtn{
                position:fixed;
                top:10px;
                right:10px;
            }
        </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}基本模板{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog:blog_index' %}">ABC助手</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href='{% url 'blog:blog_index' %}'>主页
                <span class="sr-only">(current)</span>
              </a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#">关于本站</a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:blog_sponsor' %}">打赏赞助</a>
            </li>
              {% if request.session.is_login %}
                  <li class="nav-item nav-link label label-info">{{ request.session.nickname }}</li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'user:user_loginout' %}">登出</a></li>
              {% else %}

                 <li class="nav-item"><a class="nav-link" href="{% url 'user:user_login' %}">登录</a></li>
{#                 <li class="nav-item"><a class="nav-link" href="{% url 'user:user_login' %}">{{ request.session['name'] }}</a></li>#}
                 <li class="nav-item"><a class="nav-link" href="{% url 'user:user_register' %}">注册</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
    {% block content %}
    {% endblock %}
        <button id='retopbtn' onclick='returnTop()'>返回顶部</button>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">制作者 &copy; MAX 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
