{% load blog_tags %}

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">搜索资料</h5>
            <div class="card-body">
                 <form class="navbar-form navbar-left" action="{% url 'blog:blog_search' %}" method="get">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="关键词填在这里进行搜索" name="keyword">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">搜索！</button>
                    </span>
                  </div>
                </form>
            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">最新博客</h5>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <ul class="list-unstyled mb-0">
                    <li>
                      {% get_recent_entries as recent_entry_list %}
                            {% for entry in recent_entry_list %}
                                <a style="font-size:20px" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                                <p style="font-size:10px">{{ entry.author }} 于{{ entry.created_time|date:'Y年m月d日' }}发布</p>
                                <p></p>
                            {% endfor %}
                    </li>
                  </ul>
                </div>

            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">推荐博客</h5>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <ul class="list-unstyled mb-0">
                    <li>
                      {% get_popular_entries as popular_entry_list %}
                         {% for entry in popular_entry_list %}
                            <div>
                                <a style="font-size:18px" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                                <span class="badge badge-secondary">{{ entry.visiting }}</span>
                                <p style="font-size:10px">{{ entry.author }} 于{{ entry.created_time|date:'Y年m月d日' }}发布</p>
                            <p></p>
                            </div>
                        {% endfor %}
                    </li>
                  </ul>
                </div>

            </div>
          </div>

            <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">内容分类</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    {% get_categories as category_list %}
                            {% for category in category_list %}
                                  <li>
                                    <p style="font-size:50px"></p><a href="{% url 'blog:blog_category' category.id %}">{{ category.name }}</a>
                                    <span class="badge badge-secondary">{% get_entry_count_of_category category.name %}</span>
                                  </li>
                            {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
                  <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">公 告</h5>
            <div class="card-body">
                {% get_notice as notice_list %}
                    {% for notice in notice_list %}
                        <p>{{ notice|safe }}</p>
                    {% endfor %}
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->
