{% extends 'blog/base.html' %}

{% block title %}赞助页面{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
    <br />
      <div class="row">
                    <div class="col-lg-12 text-center">
              <h2 style="font-style:italic">感谢您的赞助，所有赞助都会用于网站的日常支出和服务器的费用</h2>

<h3 style="color:#aaaaaa; font-style:italic">扫描下方二维码即可，金额随意，感谢您的支持~</h3>

          </div>
        <div class="col-lg-12 text-center">
            <hr>
          <figure>
            <img src="/static/blog/images/weixinpay.jpg" alt="微信支付收款二维码"
                 style="width: 250px">
            <figcaption class="text-center fs-6 mt-2" style="color: green">微信</figcaption>
          </figure>
            <figure>
             <img src="/static/blog/images/alipay.jpg" alt="支付宝收款二维码" style="width: 250px">
            <figcaption class="text-center fs-6 mt-2 text-primary">支付宝</figcaption>
            </figure>
      </div>
    </div>
    </div>

{% endblock %}